<div class="container">

  <div>
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label>Descrição</label>
      <input type="text" pInputText>
    </div>

    <div class="p-col-12">
      <label style="display: block;">Vencimento</label>
      <input type="text" pInputText style="width: 95px;">
      <label>até</label>
      <input type="text" pInputText style="width: 95px;">
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>
</div>
